@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.nav-content, #top {
    float: right;
    font-family: 'Oswald', sans-serif;
}
article {
  padding: 20px;
}
footer {
    padding: 10px;
    text-align: center;
  }
.card-action {
    text-align: center;
}
.card-content {
    font-size: larger;
}
.title, ui {
    font-size: medium;
    color: darkgrey;
   text-align: center;

}
#row {
    /* padding: 30px; */
    text-align: center !important;
    animation: fadeIn linear 4s;
    /* font-size: 43px; */
    
  
  }
  
 
#navbar {
  overflow: hidden;
}
#aboutContent, .card-title {
    text-align: center !important;
    align-content: center !important;
}
#content {
    animation: fadeIn 6s;
}
#placement {
    color: black;
    background-color: yellow;
}
.highlight {
    color: black;
    background-color: lightgoldenrodyellow;
}
.dbl, .db {
    width: 40px;
    height: 40px;
    margin: 5px;
    float: left;
    border: 2px blue solid;
    text-align: center;
    visibility: none;
  }
  #bs {
    color: white;
  }

.letters:hover { 
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
}
 /* tooltip animation  */
 .tooltiptext {
    visibility: hidden;
  width: 120px;
  background-color: lightgoldenrodyellow;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
.sliced {
    visibility: hidden;
    /* width: 120px; */
    background-color: lightgoldenrodyellow;
    color: black;
    text-align: center;
    /* padding: 5px 0; */
    /* border-radius: 6px; */
   
    /* Position the tooltip text - see examples below! */
    /* width: 120px; */
    top: 100%;
    left: 50%;
    /* margin-left: -60px; */
}
.slicing:hover .sliced {
    visibility: visible;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
  }
/* single  */

.hide {
    visibility: none;
}


/* dbl click animation */

.changed {
    visibility: visible;
}

/* Animation */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
  